body {
  margin: 0;
  min-height: 100vh;

  background-color: #fafafa;
  color: #222;

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Hiragino Sans",
    "Yu Gothic",
    sans-serif;

  line-height: 1.8;
}

header {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 2px solid #ccc;
}

header h1 {
  font-size: 24px;
  font-weight: normal;
}

nav ul {
  list-style: none;

  display: flex;
  gap: 18px;

  padding: 0;
  margin: 0;
}

a {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  width: 800px;
  max-width: calc(100% - 80px);

  margin: 30px auto;
  padding: 40px;

  background-color: white;

  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

h2 {
  margin-top: 35px;
}

h2:first-child {
  margin-top: 0;
}

h3 {
  margin-top: 35px;
}